<div id='folder'>
 <h2><%= @folder.name %></h2>
 <small id='author'>Created by <%= @folder.user.email %></smalln>
 <% authorized?(:"edit folders", @activity) do %>
   <%= link_to "Edit Folder", [:edit, @activity, @folder] %>
 <% end %>
 <% authorized?(:"delete folders", @activity) do %>
   <%= link_to "Delete Folder", [@activity, @folder], method: :delete,
       data: { confirm: "Are you sure you want to delete this folder?" } %>
 <% end %>
 <%= simple_format(@folder.description) %>
 <% if @folder.asset.present? %>
   <h3>Attached File</h3>
   <div class="asset">
     <p><%= link_to File.basename(@folder.asset.path), @folder.asset.url %></p>
     <p><small><%= number_to_human_size(@folder.asset.size) %></small></p>
   </div>
 <% end %>
</div>
